:root {
    --primary: #0D3B66;
    --secondary: #2e5f62;
    --background: #F1FAEE;
    --accent: #A8DADC;
    --primary-blue: #457B9D;
    --warning-orange: #F4A261;
    --highlight-turquoise: #2A9D8F;
    --dark-text: #0D3B66;
    --light-text: #FFFFFF;
}

